<main class="content">
  <section class="sroch_rem">
    <article>
      <div class="title">
        <h2>Срочный ремонт пластиковых окон любой сложности</h2>
      </div>
      <div class="predlojenie">
        <img src="../img/stroitel.png">
        <div class="text">
          <p>Выезд мастера и диагностика <span class="bold">бесплатно</span></p>
          <p><span class="bold">Оплата по факту</span> выполненной работы</p>
          <p>Выезд мастера <span class="bold">в день заказа</span></p>
          <p><span class="bold">Работаем</span> с 10:00 до 20:00 <span class="bold">ежедневно</span></p>
          <p>Опыт свыше <span class="bold">8 лет</span></p>
          <div class="action">
            <img src="../img/action.png">
            <p><span>АКЦИЯ: </span>При регулировке окна - смазка фурнитуры и перевод на зимний режим в падарок</p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </article>
  </section>
  <section class="ordering">
  <div class="ordering_width">
    <article>
      <div class="detail_block">
        <img src="../img/o_crach.png">
          <div class="o_details">
              <h3>Замена</h3>
              <p>стеклопакета</p>
              
          </div>
      </div>
    </article>
      <article>
        <div class="detail_block">
          <img src="../img/o_kriv.png">
          <h3>Провисшие</h3>
          <p>створки</p>
         
        </div>
      </article>
      <article>
        <div class="detail_block">
          <img src="../img/otvertka.png">
          <h3>Регилировка</h3>
          <p>фурнитуры</p>
         
        </div>    
     </article>
      <article>
        <div class="detail_block">
          <img src="../img/aice.png">
          <h3>Замена</h3>
          <p>уплотнителя</p>
         
        </div>
      </article>
      <article>
      <div class="detail_block">
        <img src="../img/remont.png">
        <h3>Устранение</h3>
        <p>промерзания</p>
       
      </div>
    </article>
    
   <div class="clear"></div>
  </div>
    
  
       </section>

       <section class="price">
       <div class="price_width">
        <article>
      <div class="detail_block">
        <img src="../img/price-2.png">
          <div class="o_details">
              <h3>Замена уплотнителя</h3>
              <p>Замена <br>уплотнителя <br>окон и дверей ПВХ</p>
              <div class="price_block">
                <span class="price">5 руб/ метр.</span>
                <a href="">заказать</a>
              </div>
          </div>
      </div>
    </article>
      <article>
        <div class="detail_block">
          <img src="../img/price-2.png">
           <div class="o_details">
          <h3>Регулировка простая</h3>
          <p>Регулировка <br>простая <br>без распакетки</p>
          <div class="price_block">
            <span class="price">12 рублей.</span>
             <a href="">заказать</a>
          </div>
          </div>
        </div>
      </article>
      <article>
        <div class="detail_block">
          <img src="../img/price-3.png">
           <div class="o_details">
          <h3>Регулировка, чистка, смазка</h3>
          <p>Регулировка с <br>сопутствующей <br>чисткой и смазкой</p>
          <div class="price_block">
            <span class="price">16 рублей.</span>
              <a href="">заказать</a>
          </div>
          </div>
        </div>    
     </article>
      <article>
        <div class="detail_block">
          <img src="../img/price-4.png">
           <div class="o_details">
          <h3>Замена стеклопакета</h3>
          <p>Срок <br>изротовления <br>1-2 рабочих дней</p>
          <div class="price_block">
            <span class="price">от 60 руб/ метр.кв.</span>
              <a href="">заказать</a>
            </div>
            </div>
        </div>
      </article>
      <article>
      <div class="detail_block">
        <img src="../img/price-5.png">
         <div class="o_details">
        <h3>Замена фурнитуры</h3>
        <p>Производитель <br>SIEGENIA <br>Германия</p>
        <div class="price_block">
          <span class="price">от 50 рублей.</span>
            <a href="">заказать</a>
          </div>
          </div>
      </div>
    </article>
    <article>
      <div class="detail_block">
        <img src="../img/price-6.png">
         <div class="o_details">
          <h3>Регулировка простая</h3>
          <p>Простая <br>регулировка <br>без распакетки</p>
          <div class="price_block">
            <span class="price">от 5 рублей.</span>
              <a href="">заказать</a>
          </div>
          </div>
      </div>
    </article>
   <div class="clear"></div>
       </div>
    
  
       </section>
              <section id="content_block" class="index_text">
                  
            </section>
           

</main>
