<header>
	<div id="top_panel">
		<div class="centr_block">
			<nav id="menu">
				<ul class="tab">
					<li><a href="">Пластиковые окна ПВХ</a></li>
					<li><a href="">Ремонт окон ПВХ</a></li>
				</ul>
				<ul>
					<li><a href="">О компании</a></li>
					<li><a href="">Отзывы</a></li>
					<li><a href="">Производство</a></li>
					<li><a href="">Установка</a></li>
					<li><a href="">Доставка</a></li>
					<li><a href="">Рассрочка</a></li>
					<li class="last"><a href="/kontakty.html" title="Контакты">Контакты</a></li>
				<ul>
			</nav>
		</div>
	</div>
	<div class="logo_block">
		<div class="logo">
			<a href="">
				<img src="../img/logo.jpg">
				<div id="logo_txt">
					<h1>Производство и профессиональный монтаж <br>пластиковых окон, балконных рам и заборов</h1>
					<div class="clear"></div>
				</div>
			</a>
		</div>
		<div class="zamer">
			<img src="../img/ruletka.jpg">
			<button>Бесплатный <br>выезда замерщика</button>
		</div>
		<div class="top_tel">
			<span id="kons_sakaz">Консультация и заказ</span>
			<p>+375 (222) <span class="tel_big">735-735</span></p>
			<p>+375 (29) <span class="tel_big">366-27-01</span></p>
			<p>+375 (29) <span class="tel_big">266-27-00</span></p>
			<p id="time_work">с 9:00 до 20:00, без выходных</p>
		</div>
	</div>
	<nav class="m_menu">
		<ul>
			<li><a href="" title="Пластиковые окна">Пластиковые окна</a></li>
			<li><a href="" title="Балконы и лоджии">Балконы и лоджии</a></li>
			<li><a href="" title="Остекление котеджей">Остекление котеджей</a></li>
			<li><a href="" title="Ремонт окон ПВХ">Ремонт окон ПВХ</a></li>
			<li><a href="" title="Акции">Акции</a></li>
			<li class="last"><a href="" title="Контакты">Контакты</a></li>
		</ul>
	</nav>
	<div class="clear"></div>
</header>